.containerInicio{
    height: 100vh;
    width: 100%;
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}

.titleInicio{
    font-weight: 600;
}

.titleInicioMini{
    font-weight:300;
    padding-bottom: 2rem;
}